<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Forget Password</title>
</head>

<body>
    <div class="container">
        <form action="" method="POST">

            <div class="form-group">
                <label for="username or email"><b>Email</b></label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required>
            </div>

            <button id="forget-pswd" type="submit" class="btn btn-success forget-pswd">Get New Password</button>
        </form>
    </div>
</body>

</html>