<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Reset Password</title>
</head>

<body>
    <div class="container">
        <form action="" method="POST">

            <div class="form-group">
                <label for="new-password"><b>Password</b></label>
                <input type="password" name="password" id="password" class="form-control" placeholder="New Password"
                    required>
            </div>

            <!-- <div class="form-group">
                <label for="confirm-password"><b>Password</b></label>
                <input type="password" name="confirm-password" id="confirm-password" class="form-control"
                    placeholder="Confirm Password" required>
            </div> -->

            <button id="reset-pswd" type="submit" class="btn btn-success reset-pswd">Reset Password</button>
        </form>
    </div>


    </div>

</body>

</html>