<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Logged In Users List</title>
    <!-- <script src="/userlist-ajax.js"></script> -->

</head>

<body>
    <h1>Users List</h1>
    <ul id="ul_List">
        <% userMap.forEach( function(d) { %>
            <li><a id="<%= d.username %>" href="chatroom.html">
                    <%= d.username %>
                </a></li>

            <% }) %>
    </ul>

</body>

</html>