*{
    box-sizing: border-box;
}

body{
    background: powderblue;
}

/* .container{
    /* background: powderblue; */
    /* height: 720px; */
/* }  */

.links {
    width: 70%;
    margin: auto;
    margin-top: 200px;
    line-height: 5;
    text-align: center;
    /* background: #fff; */
}

.links a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: burlywood;
    color: black;
}

#login{
    margin-left: 20px;
}

#registration{
    margin-right: 20px;
}
