*{
    box-sizing: border-box;
}

.container {
    width: 50%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px 20px;
    margin: auto;
}

input[type=email],input[type=password] {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0px 0 0;
    /* border: none; */
    background: #f2f2f2;
    /* outline: none; */
}

input#uname:focus, input#password:focus {
    background: #ddd;
}

button.loginbtn {
    color: #fff;
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    border: none;
    font-size: 18px;
}

/* .forgot-pswd{
     float: right;
  padding-top: 16px;
  margin: 5px;
} */

 #container span.psw {
  float: right;
  padding-top: 16px;
}