*{
    box-sizing: border-box;
}

.container {
    border: 5px solid black;
    padding: 15px 15px 15px 20px;
    width: 50%;
    border-radius: 5px;
    margin: auto;

}

input[type = text], input[type =email] , input[type = password] {
    width: 100%;
    padding: 12px;
    margin: 7px 0 10px 0;
    background: #f2f2f2;
    outline: none;
    /* border: none; */
}

input[type=text]:focus, input[type=email]:focus,input[type=password]:focus {
    background: #ddd;
    outline: black;
}

button.registerbtn {
    background: #4CAF50;
    width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#signin {
  background-color: #f1f1f1;
  text-align: center;
  margin-top: 20px;
  padding: 20px 10px 10px;
}
